body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;

  // we use backface-visibility, and set it to hidden to delete a bit shaky to the top. So the entire heading-primary element because the entire heading-primary element is a bit shaky. This backface-visibility property determines if the back part of the element when we transform it is visible or hidden for the user.
  /* backface-visibility: hidden; */

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;

    /* start faster and then it will become slower by the end */
    animation-timing-function: ease-out;

    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    // Animation shorthand property: animation-name animation-duration animation-timing-function animation-delay
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  // it will clip the background to exactly the places where the text sits
  -webkit-background-clip: text;

  // transparent the text color
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
